<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
        <!--Azure DocumentDB-->
        <add key="InputFile" value="D:\invoice-generator\src\Input\AppartementInfo.xlsx" />
        <add key="InvoiceTemplate" value="D:\invoice-generator\src\Input\MasterTemplate.xlsx" />
		<add key="OutputDirectory" value="D:\invoice-generator\src\Output" />
		<add key="FirstInvoiceNumber" value="53" />
		<add key="InvoiceNumberFormat" value="Cam/22-23/{0}" />
    </appSettings>
</configuration>